@import url('admin-base.css');
@import url('admin-sidebar.css');
@import url('admin-components.css');
@import url('admin-roles.css');
@import url('admin-modals.css');

* {
    -webkit-tap-highlight-color: transparent;
}

button, a, .dropdown-item-modern {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.field-list-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.field-list-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-select-min {
    min-width: 120px;
}

.chart-col {
    width: 50%;
}

.progress-bar-lg {
    height: 20px;
}

.progress-bar-sm {
    height: 8px;
}

.top-badge {
    width: 24px;
    height: 24px;
    line-height: 16px;
    text-align: center;
}

.status-select-max {
    max-width: 250px;
}
