@import url('admin-base.css');
@import url('admin-sidebar.css');
@import url('admin-components.css');
@import url('admin-roles.css');
@import url('admin-modals.css');

* {
    -webkit-tap-highlight-color: transparent;
}

button, a, .dropdown-item-modern {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
